body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#timetable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

#timetable th,
#timetable td {
    padding: 10px;
    text-align: center;
}

#timetable th {
    font-weight: bold;
    background-color: #1f4976;
    color: #fff;
}

#timetable tr:nth-child(even) {
    background-color: #eee;
}

#timetable .slot {
    background-color: #fefsff; /* Monday */
}

#timetable .COA {
    background-color: #f8fefe; /* Tuesday */
}

#timetable .DW {
    background-color: #faebd7; /* Wednesday */
}

#timetable .ML {
    background-color: #e6f1c3; /* Thursday */
}

#timetable .Elective {
    background-color: #f2dfde; /* Friday */
}

#timetable .Library {
    background-color: #f8f4e8; /* Saturday */
}

#timetable .break {
    background-color: red;
    color: #fff;
}

#timetable .lab {
    background-color: green;
    color: #fff;
}

.NPTL {
    font-weight: bold;
    color: #f00;
}

.COA {
    color: #3399ff;
}

.ML {
    color: #ff3399;
}
